mixin review(review)
	.review
		.review__photos
			.review__photo
				picture
					source(srcset="img/"+review.src+".webp", type="image/webp")
					img(src="img/"+review.src+".jpg", alt="photo")
				.review__notes
					.review__note-wrap.review__note-wrap--before
						p.review__note!=review.noteBefore
					.review__note-wrap.review__note-wrap--after
						p.review__note!=review.noteAfter
		.review__info.js-info-review
			p.review__name!=review.name
			p.review__desc.green!=review.desc
			p.review__text!=review.text
		.review__btn.js-btn-review

-
	const reviewArray = [
		{
			src: 'review_1',
			noteBefore: 'Было <span>85&nbsp;кг.</span>',
			noteAfter: 'Стало <span>65&nbsp;кг.</span>',
			name: '<span>Hanna,</span> 49 лет',
			desc: 'Подтянулись бока, избавилась от второго подбородка',
			text: 'Чтобы снова быть довольной своим телом мне хватило всего месяца, как раз успела к пляжному сезону. Препарат мне очень понравился, состав растительный, без риска подорвать себе здоровье. Мои подруги теперь мне не верят, что я столько сбросила без диеты, думают, что я кокетничаю. А я на самом деле весь этот месяц спокойно кушала булочки и пироженки) Когда на первой неделе начала замечать в зеркале, что становлюсь всё меньше, запереживала, что грудь тоже похудеет - но нет, осталась на месте, слава богу)'
		},
		{
			src: 'review_2',
			noteBefore: 'Было <span>79&nbsp;кг.</span>',
			noteAfter: 'Стало <span>59&nbsp;кг.</span>',
			name: '<span>Julia,</span> 38 лет',
			desc: 'Талия стала тоньше, даже руки похудели',
			text: 'За последние три года похудение для меня успело превратиться в хобби. Я перепробовала самые популярные диеты, приучила себя бегать по утрам. Но, знаете, я как была пышечкой, так и оставалась - просто время от времени диеты мне помогали превратиться в пышечку поменьше) а вот Lipocarnit - настоящая находка. За месячный курс я стройнела не по дням, а по часам) У меня наконец-то появилась талия, о которой я мечтала, теперь могу её подчеркивать. И даже руки тоньше стали!)'
		},
		{
			src: 'review_3',
			noteBefore: 'Было <span>78&nbsp;кг.</span>',
			noteAfter: 'Стало <span>61&nbsp;кг.</span>',
			name: '<span>Mira,</span> 35 лет',
			desc: 'Ягодицы и бедра подтянулись, живот больше не свисает',
			text: 'Долгое время у меня были серьёзные проблемы с лишним весом. Со студенческих лет у меня сформировалась плохая привычка - все стрессовые ситуации заедать чем-то. Нервничаю во время сессии? - пошла покушала. Переживаю из-за отношений? - пошла покушала. Так я и не заметила, как начала стремительно набирать вес. Спасибо, Lipocarnitу, моя фигура начала возвращаться. Ягодицы и ляжки больше не висят, ещё чуть-чуть и смогу носить шортики. И живот из-под майки больше не висит.'
		}
	];

section.reviews.block
	.container
		h2.reviews__title.title Наши клиенты хвастаются своим похудением
		.reviews__slider.js-reviews-slider
			each review in reviewArray
				+review(review)