mixin review(review)
	.review
		.review__photos
			.review__photo
				picture
					source(srcset="img/"+review.src+".webp", type="image/webp")
					img(src="img/"+review.src+".jpg", alt="photo")
				.review__notes
					.review__note-wrap.review__note-wrap--before
						p.review__note!=review.noteBefore
					.review__note-wrap.review__note-wrap--after
						p.review__note!=review.noteAfter
		.review__info.js-info-review
			p.review__name!=review.name
			p.review__desc.green!=review.desc
			p.review__text!=review.text
		.review__btn.js-btn-review

-
	const reviewArray = [
		{
			src: 'review_1',
			noteBefore: 'Pesaba  <span>85&nbsp;kg.</span>',
			noteAfter: 'Ahora es <span>65&nbsp;kg.</span>',
			name: '<span>Hanna,</span> 49 años',
			desc: 'Los lados se tensaron, se deshizo de la papada',
			text: 'Solo me tomó un mes volver a ser feliz con mi cuerpo, justo a tiempo para la temporada de playa. Me gustó mucho el remedio, la composición es a base de plantas, sin riesgo de minar mi salud. Mis amigos ahora no me creen que he perdido tanto sin dieta, piensan que estoy coqueteando. Y de hecho, todo este mes comí tranquilamente bollos y pasteles) Cuando en la primera semana comencé a notar en el espejo que me estaba haciendo más pequeña, me preocupaba que mis pechos también perdieran peso - pero no, me quedé en su lugar, gracias a Dios)'
		},
		{
			src: 'review_2',
			noteBefore: 'Pesaba  <span>79&nbsp;kg.</span>',
			noteAfter: 'Ahora es <span>59&nbsp;kg.</span>',
			name: '<span>Julia,</span> 38 años',
			desc: 'La cintura se volvió más delgada, incluso los brazos se volvieron más delgados',
			text: 'Durante los últimos tres años, perder peso se ha convertido en un pasatiempo para mí. Probé las dietas más populares, me enseñé a correr por la mañana. Pero, ya sabes, como era una bola de masa, me quedé, es solo que de vez en cuando las dietas me ayudaban a convertirme en una bola de masa más pequeña), pero Lipocarnit es un verdadero hallazgo. Durante un mes, adelgacé a pasos agigantados) Finalmente obtuve la cintura con la que soñaba, ahora puedo enfatizarla. ¡E incluso las manos son más delgadas que el acero!)'
		},
		{
			src: 'review_3',
			noteBefore: 'Pesaba  <span>78&nbsp;kg.</span>',
			noteAfter: 'Ahora es <span>61&nbsp;kg.</span>',
			name: '<span>Mira,</span> 35 años',
			desc: 'Las nalgas y las caderas se tensan, el vientre ya no cuelga',
			text: 'Durante mucho tiempo tuve serios problemas con el sobrepeso. Desde mis años de estudiante, he formado un mal hábito: aprovechar todas las situaciones estresantes con algo. ¿Nervioso durante una sesión? - Fui a comer. ¿Preocupado por una relación? - Fui a comer. Entonces no me di cuenta de cómo comencé a ganar peso rápidamente. Gracias, Lipocarnit, mi figura comenzó a regresar. Las nalgas y los muslos ya no cuelgan, solo un poco más y puedo usar pantalones cortos. Y el vientre de debajo de la camisa ya no cuelga.'
		}
	];

section.reviews.block
	.container
		h2.reviews__title.title Nuestros clientes presumen de su pérdida de peso 
		.reviews__slider.js-reviews-slider
			each review in reviewArray
				+review(review)